<form action="/about" method="get">
  <input type="text" name="category">
  <input type="submit">
</form>

<%= link_to "Contactez-nous", contact_path %>

<% @restaurants.each do |restaurant| %>
  <p><%= restaurant %></p>
<% end %>
